<h1 ng-show="!ctrl.registerActor">Thank you {{ctrl.username}} for your user registration</h1>
<br>

<h2 ng-show="!ctrl.registerActor">Sign up as Actor?&nbsp;&nbsp;&nbsp;&nbsp;
<button class="btn btn-success col-lg-pull-0" ng-show="!ctrl.registerActor" ng-click="ctrl.userChooseActorReg()"> YES! </button>&nbsp;&nbsp;&nbsp;&nbsp;
<button class="btn btn-warning col-lg-pull-0" ng-show="!ctrl.registerActor" ng-click="ctrl.userContinuelogin()"> No. Continue sign in</button>
</h2>

<div class="check-element animate-show" ng-show="ctrl.registerActor">
    <h3><i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i> Get ready to perform LIVE to the world!</h3>
</div>

<form name="actorRegForm" novalidate ng-submit="ctrl.actorRegister()" autocomplete="off">

    <div class="form-group check-element animate-show" ng-show="ctrl.registerActor">
        <label id="displaynamelbl" for="displayname">Display Name as Actor</label>
        <input type="text" id="displayname" name="displayname" class="form-control" ng-model="ctrl.user.display_name" required>
        <div class="help-block"
             ng-show="actorRegForm.displayname.$invalid && actorRegForm.displayname.$error.required">
            <p>Display name is mandatory</p>
        </div>
    </div>

    <div class="form-group check-element animate-show" ng-show="ctrl.registerActor">
        <label>Gender</label>
        <div class="radio">
            <label class="radio-inline">
                <input type="radio" name="gender" ng-model="ctrl.user.gender" value='F' required>
                Female
            </label>
            <label class="radio-inline">
                <input type="radio" name="gender" ng-model="ctrl.user.gender" value='M' required>
                Male
            </label>
            <!--error handling for "active" radio button selection-->
            <div class="help-block" ng-show="actorRegForm.gender.$invalid">
                <p>Please choose Female or Male</p>
            </div>
        </div>
    </div>

    <div class="form-group check-element animate-show" ng-show="ctrl.registerActor">
        <label>Birth date</label>
        <div class="form-group">
            <label for="birthdate"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i></label>
            <input id="birthdate" type="date" name="birthdate" required class="form-control"
                   ng-model="ctrl.user.birth_date">
        </div>
    </div>

    <div class="form-group check-element animate-show" ng-show="ctrl.registerActor">
        <label>Marital/Relationship status</label>
        <div class="radio">
            <label class="radio-inline">
                <input type="radio" name="maritalstatus" ng-model="ctrl.user.maritalstatus" value='S' required>
                Single
            </label>
            <label class="radio-inline">
                <input type="radio" name="maritalstatus" ng-model="ctrl.user.maritalstatus" value='R' required>
                In Relationship
            </label>
            <label class="radio-inline">
                <input type="radio" name="maritalstatus" ng-model="ctrl.user.maritalstatus" value='M' required>
                Married
            </label>
            <!--error handling for "active" radio button selection-->
            <div class="help-block" ng-show="actorRegForm.gender.$invalid">
                <p>Please choose Single, In Relationship or Married</p>
            </div>
        </div>
    </div>

    <div class="form-group check-element animate-show" ng-show="ctrl.registerActor">
        <label id="biolbl" for="bio">Brief Bio/Description</label>
        <input type="text" id="bio" name="bio" class="form-control" ng-model="ctrl.user.bio" required>
        <div class="help-block"
             ng-show="actorRegForm.bio.$invalid && actorRegForm.bio.$error.required">
            <p>A brief description about yourself is mandatory</p>
        </div>
    </div>

    <div class="form-group check-element animate-show" ng-show="ctrl.registerActor">
        <label id="hobbylbl" for="hobby">Hobbies to Share</label>
        <input type="text" id="hobby" name="hobby" class="form-control" ng-model="ctrl.user.hobby" required>
        <div class="help-block"
             ng-show="actorRegForm.hobby.$invalid && actorRegForm.hobby.$error.required">
            <p>Your hobbies to share with your audience</p>
        </div>
    </div>

    <div class="form-group check-element animate-show" ng-show="ctrl.registerActor">
        <label id="ytvideoidlbl" for="ytvideoid">Your Live Youtube Video channel ID</label>
        <input type="text" id="ytvideoid" name="ytvideoid" class="form-control" ng-model="ctrl.user.ytvideo_id" required>
        <div class="help-block"
             ng-show="actorRegForm.ytvideoid.$invalid && actorRegForm.ytvideoid.$error.required">
            <p>Your Live Youtube video channel ID is mandatory</p>
        </div>
    </div>

    <div class="form-group check-element animate-show" ng-show="ctrl.registerActor">
        <label>Viewers' Subscription Type</label>
        <div class="radio">
            <label class="radio-inline">
                <input type="radio" name="subscription" ng-model="ctrl.user.subscription" value=0 required>
                Free
            </label>
            <label class="radio-inline">
                <input type="radio" name="subscription" ng-model="ctrl.user.subscription" value=1 required>
                Monthly Rate (US$2.99)
            </label>
            <label class="radio-inline">
                <input type="radio" name="subscription" ng-model="ctrl.user.subscription" value=2 required>
                Monthly Rate (US$4.99)
            </label>
            <label class="radio-inline">
                <input type="radio" name="subscription" ng-model="ctrl.user.subscription" value=3 required>
                Monthly Rate (US$8.99)
            </label>
            <div class="help-block"
                 ng-show="actorRegForm.subscription.$invalid && actorRegForm.subscription.$error.required">
                <p>Viewers' subscription mode is mandatory</p>
            </div>
        </div>
    </div>


    <!--################################################################################-->
    <!--#######  Actor Registration Form : Submit Button                           #####-->
    <!--################################################################################-->
    <div class="form-group check-element animate-show" ng-show="ctrl.registerActor">
        <button type="submit" class="btn-success form-control"
                ng-disabled="actorRegForm.$invalid">Register as Actor</button>

        <div class="alert" role="alert" alert-dismissable ng-show="ctrl.status.code"
             ng-class="{'alert-success': ctrl.status.code ==200,
                    'alert-danger': ctrl.status.code >= 400}">
            <button class="close" data-dismiss="alert">X</button>
        </div>
    </div>

</form>


