<!--display from database: livenow , table: user, showing following fields -->
<div class="container">
    <h2>Actor Details</h2>
    <form name="userDetailsForm" novalidate ng-submit="ctrl.saveUser()" autocomplete="off">

    <table class="table table-striped">
        <tr>
            <td><b>First Name</b></td>
            <td><input class="form-control" type="text" name="firstname" id="firstname" ng-model="ctrl.user.first_name"/></td>
            <!-- define the error message for field -->
            <div class="help-block" ng-show="userDetailsForm.firstname.$error.required">
                <p>Please enter a first name</p>
            </div>
            <div class="help-block" ng-show="!userDetailsForm.firstname.$error.required&&userDetailsForm.firstname.$invalid">
                <p class="text-danger">First name is invalid</p>
            </div>
        </tr>

        <tr>
            <td><b>Last Name</b></td>
            <td><input class="form-control" type="text" name="lastname" id="lastname" ng-model="ctrl.user.last_name" required/></td>
        </tr>
        <tr>
            <td><b>User Name</b></td>
            <td><input class="form-control" type="text" name="username" id="username" ng-model="ctrl.user.user_name" required"/></td>
        </tr>
        <tr>
            <td><b>Email</b></td>
            <td><input class="form-control" type="email" name="email" id="email" ng-model="ctrl.user.email" required/></td>
        </tr>
        <tr>
            <td><b>Active Status</b></td>
            <td>
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" name="active" ng-model="ctrl.user.active" value=1 required>
                        Active
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="active" ng-model="ctrl.user.active" value=0 required>
                        Inactive
                    </label>
                    <!--error handling for "active" radio button selection-->
                    <div class="help-block" ng-show="userDetailsForm.active.$invalid">
                        <p>Please choose Active or Inactive</p>
                    </div>
                </div>
            </td>
            <!--<td>{{ctrl.user.active}}</td>-->
        </tr>
    </table>

    <!--<a class="btn btn-primary" ui-sref="list({scrollTo: ctrl.user.id})">Back</a>-->

    <!--Save button to submit user details-->
    <button class="btn btn-info" type="submit" ng-disabled="userDetailsForm.$invalid">Save</button>
    <div class="alert alert-dismissable" role="alert" ng-show="ctrl.status.code"
         ng-class="{'alert-success': ctrl.status.code == 200, 'alert-danger': ctrl.status.code >= 400 }">
        <!-- data dismiss removes the element. This alert won't show up again before refreshing -->
        <button class="close" data-dismiss="alert">&times;</button>{{ ctrl.status.message }}
    </div>

   </form>

</div>