<div>
<!-- Intro Section -->
<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>LiveNow!&nbsp;&nbsp;<i class="fa fa-video-camera 2x" aria-hidden="true"></i></h1>
                <h3>Act, Sing Your Way or Do Something Funny to Fame</h3>
                <!--<a class="btn btn-default page-scroll" href="#about">Click Me to Scroll Down!</a>-->
                <!--<a href="/logout" role="button" name="logout" class="btn btn-primary"> Logout </a>-->
                <!--<a href="/list" role="button" name="list" class="btn btn-info"> List </a>-->
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>About Section</h1>
            </div>
        </div>
    </div>
</section>

<!-- Services Section -->
<section id="signin" class="services-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Services Section</h1>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="register" class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Contact Section</h1>
            </div>
        </div>
    </div>
</section>
</div>
