<!--display from database: livenow , table: user, showing 2 fields i.e. user id and user name -->
<!--and create a hyper hyperlink to selected user details using user id-->
<div>
    <h3>Click <span style="color: lightskyblue">User Name or Channel</span> to see more details</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <!--<th>User Id</th>-->
                <th>User Name</th>
                <th>Channel Title</th><th>Subscribers</th><th>Views</th>
                <th>Rating</th>
                <!--<th>Video Identifier</th>-->
                <th>Channel</th>
            </tr>
        </thead>
        <tbody ng-repeat="user in ctrl.users">
            <tr>
                <!--<td>{{user.id}}</td>-->
                <td><a ui-sref="detail({userId: user.id})">{{user.user_name}}</a></td>
                <td>{{user.title}}</a> </td>
                <td>{{user.subscriber_count}}</a> </td>
                <td>{{user.view_count}}</a> </td>
                <td>{{user.rating}}</a> </td>
                <!--<td>{{user.ytvideo_id}}</a></td>-->
                <td><a ui-sref="viewchannel({ytvideoId: user.ytvideo_id})">
                    <img src={{user.ytvideo_link}} alt="Oops!" style="width:120px;height:90px;">
                    </a>
                </td>
            </tr>
            <!--<tr>-->
                <!--<td><a ui-sref="detail({userId: user.id})">{{user.id}}</a> </td>-->
                <!--<td><a ui-sref="detail({userId: user.id})">{{user.user_name}}</a> </td>-->
                <!--<td><a ui-sref="detail({userId: user.id})">{{user.title}}</a> </td>-->
                <!--<td><a ui-sref="detail({userId: user.id})">{{user.subscriber_count}}</a> </td>-->
                <!--<td><a ui-sref="detail({userId: user.id})">{{user.view_count}}</a> </td>-->
                <!--<td><a ui-sref="detail({userId: user.id})">{{user.rating}}</a> </td>-->
                <!--<td><a ui-sref="detail({userId: user.id})">{{user.ytvideo_id}}</a></td>-->
                <!--<td><a ui-sref="viewchannel({ytvideoId: user.ytvideo_id})">-->
                    <!--<img src={{user.ytvideo_link}} alt="Oops!" style="width:120px;height:90px;">-->
                    <!--</a>-->
                <!--</td>-->
            <!--</tr>-->
        </tbody>
    </table>
</div>