<div>
    <h1>Sign In</h1>
    <br>
    <form ng-submit="ctrl.login()">
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" name="email" id="email" type="text" ng-model="ctrl.user.email"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" ng-model="ctrl.user.password"/>
        </div>
        <input type="submit" class="btn btn-success"/>
        <a href="/oauth/google" class="btn btn-danger">
            <i class="fa fa-google-plus" arial-hidden="true"></i> Google
        </a>

        <a href="/oauth/facebook" class="btn btn-primary">
            <i class="fa fa-facebook" arial-hidden="true"></i> Facebook
        </a>

    </form>
</div>