<div class="container">
    <h2>My Profile</h2>
    <br>

    <form name="myProfileForm" novalidate ng-submit="ctrl.saveProfile()" autocomplete="off">

        <!--FIRST NAME-->
        <div class="form-group">
            <label id="firstnamelbl" for="firstname">First Name :</label>
            <input type="text" id="firstname" name="firstname" class="form-control" ng-model="ctrl.user.first_name" required>
            <div class="help-block"
                 ng-show="myProfileForm.firstname.$invalid && myProfileForm.firstname.$error.required">
                <p>First name is mandatory</p>
            </div>
        </div>

        <!--LAST NAME-->
        <div class="form-group">
            <label id="lastnamelbl" for="lastname">Last Name :</label>
            <input type="text" id="lastname" name="lastname" class="form-control" ng-model="ctrl.user.last_name" required>
            <div class="help-block"
                 ng-show="myProfileForm.lastname.$invalid && myProfileForm.lastname.$error.required">
                <p>Last name is mandatory</p>
            </div>
        </div>

        <!--USER NAME-->
        <div class="form-group">
            <label id="usernamelbl" for="username">User Name :</label>
            <input type="text" id="username" name="username" class="form-control" ng-model="ctrl.user.user_name" required>
            <div class="help-block"
                 ng-show="myProfileForm.lastname.$invalid && myProfileForm.lastname.$error.required">
                <p>User name is mandatory</p>
            </div>
        </div>

        <!--EMAIL-->
        <div class="form-group">
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" class="form-control" ng-model="ctrl.user.email" required>
            <div class="help-block"
                 ng-show="myProfileForm.email.$error.email">
                <p>Invalid Email</p>
            </div>
            <div class="help-block"
                 ng-show="myProfileForm.email.$error.required">
                <p>Email is mandatory</p>
            </div>
        </div>

        <!--CHANGE PASSWORD-->
        <div class="form-group">
            <label for="password"> New Password:</label>
            <input type="password" id="password" name="password"
                   class="form-control" ng-model="ctrl.user.password" ng-minlength="8" required>

            <div class="help-block" ng-show="myProfileForm.password.$error.required">
                <p>Please enter a password</p>
            </div>
            <div class="help-block" ng-show="myProfileForm.password.$invalid&&!myProfileForm.password.$error.required">
                <p class="text-danger">This password is too short</p>
            </div>
        </div>

        <!--PASSWORD RE-ENTER-->
        <div class="form-group" ng-show="ctrl.user.password">
            <label for="password2">Reenter New Password:</label>
            <input type="password" id="password2" name="password2"
                   class="form-control" ng-model="ctrl.user.password2" ng-minlength="8" required>

            <div class="help-block" ng-show="myProfileForm.password.$error.required">
                <p>Please re-enter password</p>
            </div>
            <div class="help-block" ng-show="myProfileForm.password.$invalid&&!myProfileForm.password.$error.required">
                <p class="text-danger">Password length too short</p>
            </div>
        </div>

        <!--ACTIVE STATUS-->
        <div class="form-group">
            <label>Active Status</label>
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="active" ng-model="ctrl.user.active" value=1 required>
                    Active
                </label>
                <label class="radio-inline">
                    <input type="radio" name="active" ng-model="ctrl.user.active" value=0 required>
                    Inactive
                </label>
                <!--error handling for "active" radio button selection-->
                <div class="help-block" ng-show="myProfileForm.active.$invalid">
                    <p>Please choose Active or Inactive</p>
                </div>
            </div>
        </div>

        <!--################################################################################-->
        <!--#######  Registration Form : Submit Button                                 #####-->
        <!--################################################################################-->

        <div class="form-group">
            <button type="submit" class="btn-success form-control"
                    ng-disabled="myProfileForm.$invalid">Save Profile</button>
        </div>

        <div class="alert" role="alert" alert-dismissable ng-show="ctrl.status.code"
             ng-class="{'alert-success': ctrl.status.code ==200,
            'alert-danger': ctrl.status.code >= 400}">
            <button class="close" data-dismiss="alert">X</button>
        </div>

    </form>
</div>
