<div class="container">
    <h2>New User Registration</h2>
    <br>

    <form name="registrationForm" novalidate ng-submit="ctrl.registerUser()" autocomplete="off">

        <!--FIRST NAME-->
        <div class="form-group">
            <label id="firstnamelbl" for="firstname">First Name :</label>
            <input type="text" id="firstname" name="firstname" class="form-control" ng-model="ctrl.user.first_name" required>
            <div class="help-block"
                 ng-show="registrationForm.firstname.$invalid && registrationForm.firstname.$error.required">
                <p>First name is mandatory</p>
            </div>
        </div>

        <!--LAST NAME-->
        <div class="form-group">
            <label id="lastnamelbl" for="lastname">Last Name :</label>
            <input type="text" id="lastname" name="lastname" class="form-control" ng-model="ctrl.user.last_name" required>
            <div class="help-block"
                 ng-show="registrationForm.lastname.$invalid && registrationForm.lastname.$error.required">
                <p>Last name is mandatory</p>
            </div>
        </div>

        <!--USER NAME-->
        <div class="form-group">
            <label id="usernamelbl" for="username">User Name :</label>
            <input type="text" id="username" name="username" class="form-control" ng-model="ctrl.user.user_name" required>
            <div class="help-block"
                 ng-show="registrationForm.lastname.$invalid && registrationForm.lastname.$error.required">
                <p>User name is mandatory</p>
            </div>
        </div>

        <!--EMAIL-->
        <div class="form-group">
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" class="form-control" ng-model="ctrl.user.email" required>
            <div class="help-block"
                 ng-show="registrationForm.email.$error.email">
                <p>Invalid Email</p>
            </div>
            <div class="help-block"
                 ng-show="registrationForm.email.$error.required">
                <p>Email is mandatory</p>
            </div>
        </div>

        <!--PASSWORD-->
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"
                   class="form-control" ng-model="ctrl.user.password" ng-minlength="8" required>

            <div class="help-block" ng-show="registrationForm.password.$error.required">
                <p>Please enter a password</p>
            </div>
            <div class="help-block" ng-show="registrationForm.password.$invalid&&!registrationForm.password.$error.required">
                <p class="text-danger">This password is too short</p>
            </div>
        </div>

        <!--PASSWORD RE-ENTER-->
        <div class="form-group" ng-show="ctrl.user.password">
            <label for="password2">Reenter Password:</label>
            <input type="password" id="password2" name="password2"
                   class="form-control" ng-model="ctrl.user.password2" ng-minlength="8" required>

            <div class="help-block" ng-show="registrationForm.password.$error.required">
                <p>Please re-enter password</p>
            </div>
            <div class="help-block" ng-show="registrationForm.password.$invalid&&!registrationForm.password.$error.required">
                <p class="text-danger">Password length too short</p>
            </div>
        </div>

        <!--ACTIVE STATUS-->
        <div class="form-group">
            <label>Active Status</label>
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="active" ng-model="ctrl.user.active" value=1 required>
                    Active
                </label>
                <label class="radio-inline">
                    <input type="radio" name="active" ng-model="ctrl.user.active" value=0 required>
                    Inactive
                </label>
                <!--error handling for "active" radio button selection-->
                <div class="help-block" ng-show="registrationForm.active.$invalid">
                    <p>Please choose Active or Inactive</p>
                </div>
            </div>
        </div>

        <!--################################################################################-->
        <!--#######  Registration Form : Submit Button                                 #####-->
        <!--################################################################################-->

        <div class="form-group">
            <button type="submit" class="btn-success form-control"
                    ng-disabled="registrationForm.$invalid">Register</button>
        </div>

        <div class="alert" role="alert" alert-dismissable ng-show="ctrl.status.code"
             ng-class="{'alert-success': ctrl.status.code ==200,
            'alert-danger': ctrl.status.code >= 400}">
            <button class="close" data-dismiss="alert">X</button>
        </div>

    </form>
    
        <!--################################################################################-->
        <!--#######  Additional info for users who intend to register as actor/actress #####-->
        <!--################################################################################-->

        <p><input type="checkbox" ng-model="checked" aria-label="Toggle ngHide"> <b>Sign up as Actor?</b></p>
        <div class="check-element animate-show" ng-show="checked">
               <span class="glyphicon glyphicon-thumbs-up"></span> <i>Get read to perform to the world!</i>
        </div>

    <form name="actorRegForm" novalidate ng-submit="ctrl.actorRegister()" autocomplete="off">
        
        <div class="form-group check-element animate-show" ng-show="checked">
            <label id="displaynamelbl" for="displayname">Display Name as Actor</label>
            <input type="text" id="displayname" name="displayname" class="form-control" ng-model="ctrl.user.display_name" required>
            <div class="help-block"
                 ng-show="actorRegForm.displayname.$invalid && actorRegForm.displayname.$error.required">
                <p>Display name is mandatory</p>
            </div>
        </div>

        <div class="form-group check-element animate-show" ng-show="checked">
            <label>Gender</label>
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="gender" ng-model="ctrl.user.gender" value='F' required>
                    Female
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender" ng-model="ctrl.user.gender" value='M' required>
                    Male
                </label>
                <!--error handling for "active" radio button selection-->
                <div class="help-block" ng-show="actorRegForm.gender.$invalid">
                    <p>Please choose Female or Male</p>
                </div>
            </div>
        </div>

        <div class="form-group check-element animate-show" ng-show="checked">
            <label>Birth date</label>
            <div class="form-group">
                <label for="birthdate"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i></label>
                <input id="birthdate" type="date" name="birthdate" required class="form-control"
                       ng-model="ctrl.user.birth_date">
            </div>
        </div>

        <div class="form-group check-element animate-show" ng-show="checked">
            <label>Marital/Relationship status</label>
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="maritalstatus" ng-model="ctrl.user.maritalstatus" value='S' required>
                    Single
                </label>
                <label class="radio-inline">
                    <input type="radio" name="maritalstatus" ng-model="ctrl.user.maritalstatus" value='R' required>
                    In Relationship
                </label>
                <label class="radio-inline">
                    <input type="radio" name="maritalstatus" ng-model="ctrl.user.maritalstatus" value='M' required>
                    Married
                </label>
                <!--error handling for "active" radio button selection-->
                <div class="help-block" ng-show="actorRegForm.gender.$invalid">
                    <p>Please choose Single, In Relationship or Married</p>
                </div>
            </div>
        </div>

        <div class="form-group check-element animate-show" ng-show="checked">
            <label id="biolbl" for="bio">Brief Bio/Description</label>
            <input type="text" id="bio" name="bio" class="form-control" ng-model="ctrl.user.bio" required>
            <div class="help-block"
                 ng-show="actorRegForm.bio.$invalid && actorRegForm.bio.$error.required">
                <p>A brief description about yourself is mandatory</p>
            </div>
        </div>

        <div class="form-group check-element animate-show" ng-show="checked">
            <label id="hobbylbl" for="hobby">Hobbies to Share</label>
            <input type="text" id="hobby" name="hobby" class="form-control" ng-model="ctrl.user.hobby" required>
            <div class="help-block"
                 ng-show="actorRegForm.hobby.$invalid && actorRegForm.hobby.$error.required">
                <p>Your hobbies to share with your audience</p>
            </div>
        </div>

        <div class="form-group check-element animate-show" ng-show="checked">
            <label id="ytvideoidlbl" for="ytvideoid">Your Live Youtube Video channel ID</label>
            <input type="text" id="ytvideoid" name="ytvideoid" class="form-control" ng-model="ctrl.user.ytvideo_id" required>
            <div class="help-block"
                 ng-show="actorRegForm.ytvideoid.$invalid && actorRegForm.ytvideoid.$error.required">
                <p>Your Live Youtube video channel ID is mandatory</p>
            </div>
        </div>
        
        <div class="form-group check-element animate-show" ng-show="checked">
            <label>Viewers' Subscription</label>
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="subscription" ng-model="ctrl.user.subscription" value=0 required>
                    Free
                </label>
                <label class="radio-inline">
                    <input type="radio" name="subscription" ng-model="ctrl.user.subscription" value=1 required>
                    Paid
                </label>
                <div class="help-block"
                     ng-show="actorRegForm.subscription.$invalid && actorRegForm.subscription.$error.required">
                    <p>Viewers' subscription mode is mandatory</p>
                </div>
            </div>    
        </div>
        
        <div class="form-group check-element animate-show" ng-show="ctrl.user.subscription == 1">
             <label id="subscriptionratelbl" for="subscriptionrate">Subscription Rate</label>
             <input type="text" id="subscriptionrate" name="subscriptionrate" class="form-control" 
                    ng-model="ctrl.user.subscriptionrate" required>
             <div class="help-block"
                  ng-show="actorRegForm.subscriptionrate.$invalid && actorRegForm.subscriptionrate.$error.required">
                  <p>A subscription Rate is mandatory</p>
             </div>
        </div>
        
        <!--################################################################################-->
        <!--#######  Actor Registration Form : Submit Button                           #####-->
        <!--################################################################################-->
        <div class="form-group check-element animate-show" ng-show="checked">
            <button type="submit" class="btn-warning form-control"
                    ng-disabled="registrationForm.$invalid">Register as Actor</button>

            <div class="alert" role="alert" alert-dismissable ng-show="ctrl.status.code"
                 ng-class="{'alert-success': ctrl.status.code ==200,
                'alert-danger': ctrl.status.code >= 400}">
                <button class="close" data-dismiss="alert">X</button>
            </div>
        </div>
        
    </form>

</div>