
<div id="player"> </div>
<a ng-click="ctrl.player.playVideo()">Play</a>
<a ng-click="ctrl.player.pauseVideo()">Pause</a>


<div>
    <h2>Channel Details</h2>
    <p>Actor Id: {{ctrl.channel.actor_id}}</p>
    <p>Channel Title: {{ctrl.channel.title}}</p>
    <p>Channel Description: {{ctrl.channel.description}}</p>
    <p>Subscriber Count: {{ctrl.channel.subscriber_count}}</p>
    <p>View Count: {{ctrl.channel.view_count}}</p>
    <p>Channel Rating: {{ctrl.channel.rating}}</p>
    <p>Channel Photo: {{ctrl.channel.channel_photo}}</p>
</div>

