<!doctype html>
<html lang="en" ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Document</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css"/>

    <link rel="stylesheet" href="css/scrolling-nav.css"/>
</head>


  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

   <!--<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavigationCtrl as navbar">-->
      <!--<div class="container">-->
          <!--<div class="navbar-header page-scroll">-->
              <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">-->
                  <!--<span class="sr-only">Toggle navigation</span>-->
                  <!--<span class="icon-bar"></span>-->
                  <!--<span class="icon-bar"></span>-->
                  <!--<span class="icon-bar"></span>-->
              <!--</button>-->
              <!--<a class="navbar-brand page-scroll" href="#page-top">SingLah!</a>-->
          <!--</div>-->

          <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
          <!--<div class="collapse navbar-collapse navbar-ex1-collapse">-->
              <!--<ul class="nav navbar-nav">-->
                  <!--&lt;!&ndash; Hidden li included to remove active class from about link when scrolled up past about section &ndash;&gt;-->
                  <!--<li class="hidden">-->
                      <!--<a class="page-scroll" href="#page-top"></a>-->
                  <!--<li>-->
                      <!--&lt;!&ndash;<a class="page-scroll" ng-hide="navbar.isLoggedIn()" href="/login">Sign in</a>&ndash;&gt;-->
                      <!--<a class="page-scroll" ng-hide="navbar.isLoggedIn()" ui-sref="login">Sign in</a>-->

                  <!--</li>-->
                  <!--<li>-->
                      <!--&lt;!&ndash;<a class="page-scroll" ng-hide="navbar.isLoggedIn()" href="/register">Register</a>&ndash;&gt;-->
                      <!--<a class="page-scroll" ng-hide="navbar.isLoggedIn()" ui-sref="register">Register</a>-->
                  <!--</li>-->
                  <!--&lt;!&ndash;</li>&ndash;&gt;-->
                      <!--&lt;!&ndash;<a class="page-scroll" href="#register">Register</a>&ndash;&gt;-->
                  <!--&lt;!&ndash;</li>&ndash;&gt;-->
              <!--</ul>-->
          <!--</div>-->
          <!--&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
      <!--</div>-->
      <!--&lt;!&ndash; /.container &ndash;&gt;-->
  <!--</nav>-->

 <!-- *******************************************************************************************-->

  <nav class="navbar navbar-default navbar-static-top" ng-controller="NavigationCtrl as navbar">
       <!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
       <div class="container">
           <div class="navbar-form navbar-right" ng-hide="navbar.isLoggedIn()">
               <button ui-sref="login" type="submit" class="btn btn-success">Sign in</button>
               <!--<a id="login" class="page-scroll" ng-hide="navbar.isLoggedIn() && $rootScope.login"-->
               <!--<a id="login" class="page-scroll" ng-hide="$rootScope.login"-->
                  <!--ng-click="$rootScope.login = true" ui-sref="login">Sign in</a>-->
           </div>
           <div class="navbar-form navbar-right" ng-hide="navbar.isLoggedIn()">
               <button ui-sref="register" type="submit" class="btn btn-success">Register</button>
               <!--<a id="register" class="page-scroll" ng-hide="navbar.isLoggedIn()" ui-sref="register">Register</a>-->
           </div>

           <div class="navbar-form navbar-right" ng-show="navbar.isLoggedIn()">
               <button ui-sref="logout" type="submit" class="btn btn-success">Log Out</button>
           </div>
           <div class="navbar-form navbar-right" ng-show="navbar.isLoggedIn()">
               <button ui-sref="myprofile" type="submit" class="btn btn-success">My Profile</button>
           </div>
           <div class="navbar-form navbar-right" ng-show="navbar.isLoggedIn()">
               <button ui-sref="list({scrollTo: ctrl.user.id})" type="submit" class="btn btn-success">List Actors</button>
           </div>

       </div>
   </nav>


<div class="container" ui-view></div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!--Angular UI ROUTER Library-->
<script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/bower_components/angular-http-auth/src/http-auth-interceptor.js"></script>

<!--Source Files-->
<script src="index.js"></script>
<script src="route.js"></script>
<script src="controller.js"></script>
<script src="service.js"></script>
<script src="navcontroller.js"></script>
<script src="auth.service.js"></script>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>

  <script src="js/jquery.easing.min.js"></script>
  <script src="js/scrolling-nav.js"></script>
  <script src="https://www.youtube.com/iframe_api"></script>

</body>
</html>
